body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
}

#btn-counter{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
#display{ 
    width: 100px;
    text-align: center; 
    font-size: 2rem;
    margin-bottom: 10px;
}

#button{ 
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    background-color: hsl(480, 100%, 40%);
    color: black;
    border: none;   
    cursor: pointer;
}
#button:hover{ 
    background-color: hsl(480, 100%, 50%);
}
